*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Prompt';
    src: url(assets/Prompt-Regular.ttf);
}

body{
    font-family: Prompt;
    margin: 10px;
    background: url(assets/img/background.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkblue;
    height: 100vh;
}

main{
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil{
    height: 120px;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 15px rgb(7, 49, 104);
}

.principal{
    top: -20px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
    border: 2px solid rgba(49, 121, 230, 0.3);
    border-radius: 20px;
}

.principal .card{
    width: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 15px;
}

a{
    text-decoration: none;
    color: blue;
}

.principal .card a{
    text-align: center;
    padding: 5px;
    border: 2px solid rgba(49, 121, 230, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0  5px rgb(63, 139, 240);
}

.principal .card a:hover{
    transform: scale(1.03);
}

p{
    text-align: center;
}

.network{
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 2px rgba(0, 0, 0);
    font-size: 28px;
}